

h1 {
    text-indent: 8  em;
    color: #1ebac5;
    position: absolute;
    left: 100px;
    top: -50px;
    font-size: 80px;
}

a:link {color:#ff0000;}
a:visited {color:#00ffff;}
a:hover {color:#ffcc00}