

h1 {
    text-indent: 8  em;
    color: #1ebac5;
    position: absolute;
    left: 250px;
    top: 0px;
    font-size: 80px;
}

table {
    border:1px solid #1ebac5;
    border-radius: 10px;
    border-left-width: 15px;
    color: #000000;
    background-color: beige;
    opacity: 0.8;
    position: absolute;
    left:1000px;
    top:90px;
}

a:link {color:#ff0000;}
a:visited {color:#00ffff;}
a:hover {color:#ffcc00}