
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/common.css" />
        <title>books</title>
    </head>
    <body style="background-image:url(../pic/001.jpg)">
        <!--使用jinja2控制语句-->
        
        <table border="1" cellpadding="10">
            <tr>
                <td><a href="search">Search</a></td>
                <td><a href="signin">Sign in</a></td>
                <td><a href="signup">Sign up</a></td>
                <td><a href="help">Help</a></td>
                <td><a href='books'>Books</a></td>
                <td><a href="shopping_basket">Shopping bakset</a></td>
            </tr>
        </table> 
        <div>
        {% for book in val %}
            <form action="/books" method="POST">
                <legend>书名：{{book[2]}}</legend>
                <p>ISBN:{{book[1]}}</p>
                <p>价格:{{book[3]}}</p>
                <p>类型:{{book[4]}}</p>
                <p>库储:{{book[5]}}</p>
                <p>作者:{{book[7]}}</p>
                <p>介绍:{{book[8]}}</p>
                <p id='path'>{{book[9] | replace('./', 'f:/work/DBP/006/')}}</p>
                <p><input name="num" placeholder="购买数量" type="password"></p>
                <p><button type="submit">添加进购物车</button></p>
            </form>
            {% endfor %}
        </div>
    </body>
</html>