<html>
    <head>
        <title>Check Out</title>
    </head>
    <body>
        <table border="1" cellpadding="10">
            <tr>
                <td><a href="search">Search</a></td>
                <td><a href="signin">Sign in</a></td>
                <td><a href="signup">Sign up</a></td>
                <td><a href="help">Help</a></td>
                <td><a href="shopping_baskert">Shopping bakset</a></td>
            </tr>
        </table> 
        <h1>Check Out</h1>
        <div id='test'><p>hello</p></div>
        <button id="button1">Check out</button>
    </body>
</html>