<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1 style="font-style:italic">Home</h1>
        <table border="1" cellpadding="10">
            <tr>
                <td><a href="search">Search</a></td>
                <td><a href="signin">Sign in</a></td>
                <td><a href="signup">Sign up</a></td>
                <td><a href="help">Help</a></td>
                <td><a href="shopping_baskert">Shopping bakset</a></td>
            </tr>
        </table> 
        <p>---------------------------------</p>
        <form action="/signin" method="POST">
            <legend>Buy book</legend>
            <p><input name="ISBN" placeholder="书号" value="01001"></p>
            <p><input name="num" placeholder="数量" type="password"></p>
            <p><button type="submit">添加进购物车</button></p>
        </form>
    </body>
</html>