<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/common.css" />
        <title>Rules</title>
        <style>
            .div{
                height:50px;
                width: 100%;
                background-color: rgb(0, 0, 0);
            }
            .div2{
                height:20%;
                width: 100%;
                background-color: white;
            }
            .div3{
                width: 100%;
                text-align: center;
            }
            .dt{
                font-size: 20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 600;
            }
        </style>
    </head>
    <body>
            <h1>Rules</h1>
        <div class="div2"></div>
        <div class="div"></div>
        <table border="1" cellpadding="10">
            <tr>
                <td><a href="search">Search</a></td>
                <td><a href="signin">Sign in</a></td>
                <td><a href="signup">Sign up</a></td>
                <td><a href="help">Help</a></td>
                <td><a href="books">Books</a></td>
                <td><a href="shopping_basket">Shopping bakset</a></td>
            </tr>
        </table> 
        
        <div>
            <ul>
                <li>
                    <dl>
                        <dt class="dt">
                            <p>第一条</p>
                        </dt>
                        <dd>
                            <p>为促进开放、透明、分享、责任的新商业文明，保障在线书城用户合法权益，维护在线书城正常经营秩序，制定本规则</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="dt">
                            <p>第二条</p>
                        </dt>
                        <dd>
                            <p>书城规则，是对书城用户增加基本义务或限制基本权利的条款</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="dt">
                            <p>第三条</p>
                        </dt>
                        <dd>
                            <p>违规行为的认定与处理，应基于书城认定的事实并严格依规执行。部分违规行为，在线书城亦将引入大众评审员机制进行认定，在线书城会基于大众评审员认定的事实严格依规执行。书城用户在适用规则上一律平等。</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="dt">
                            <p>第四条</p>
                        </dt>
                        <dd>
                            <p>用户应遵守国家法律、行政法规、部门规章及相关规范性文件的规定。对任何涉嫌违反国家法律、行政法规、部门规章及相关规范性文件的规定的行为，本规则已有规定的，适用本规则；本规则尚无规定的，书城有权酌情处理。但书城对用户的处理不免除其应尽的法律义务及应承担的法律责任。</p>
                            <p>用户在书城的任何行为，应同时遵守与书城所签订的各项协议</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="dt">
                            <p>第五条</p>
                        </dt>
                        <dd>
                            <p>用户应当严格遵循书城系统设置的注册流程完成注册</p>
                            <p>用户在选择其书城用户名时应遵守国家法律法规，不得包含违法、涉嫌侵犯他人权利、有违公序良俗或干扰书城运营秩序等相关信息。在线书城用户的用户名中不得包含旗舰、专卖等词语。</p>
                            <p>用户名注册后无法自行修改</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="dt">
                            <p>第六条</p>
                        </dt>
                        <dd>
                            <p>用户应遵照书城交易流程的各项要求进行交易，卖家应合理保障买家权益。</p>
                            <P>用户如发生或可能即将引发危及交易安全或书城账户安全的行为，书城将根据其行为并结合事件的紧急、严重程度采取强制措施、关闭订单、限制发货、删除商品、限制网站登录、限制发送站内信、延长交易超时、限制买家行为等临时性市场管控措施，直至书城确认风险基本可控后予以部分或全部解除管控。</P>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="dt">
                            <p>第七条</p>
                        </dt>
                        <dd>
                            <p>为保障消费者的正当权益，在用户违规处理期间书城按照本规则制定的情形对用户采取以下违规处理措施：</p>
                            <p>（一）限制发送站内信，指禁止淘宝会员发送站内信。</p>
                            <p>（二）限制买家行为，指禁止淘宝会员收藏商品、添加购物车、购买商品。</p>
                            <p>（三）限制发货，指禁止淘宝会员操作处于“买家已付款，等待卖家发货”状态的交易。</p>
                            <p>（四）限制网站登录，指禁止淘宝会员登录淘宝网页。</p>
                            <p>（五）查封账户，指永久禁止会员使用违规账户登录淘宝、使用阿里旺旺等工具</p>
                        </dd>
                    </dl>
                </li>                               
            </ul>
        </div>
    </body>
</html>