<html>
    <head>
        <title>Search</title>
    </head>
    <body>
        <table border="1" cellpadding="10">
            <tr>
                <td><a href="signin">Sign in</a></td>
                <td><a href="signup">Sign up</a></td>
                <td><a href="help">Help</a></td>
                <td><a href="shopping_baskert">Shopping bakset</a></td>
            </tr>
        </table> 
        <p>--------------------------------</p>
        <span action='/search' method='POST'>
            <input name="search" placeholder="Type to search book", style="height: 40; width: 600;">
            <button type="submit" style="height: 40;">Search</button>
        </span>
    </body>
</html>