<html>
    <head>
        <title>Please Sign In</title>
    </head>
    <body>
        <table border="1" cellpadding="10">
            <tr>
                <td><a href="search">Search</a></td>
                <td><a href="signin">Sign in</a></td>
                <td><a href="signup">Sign up</a></td>
                <td><a href="help">Help</a></td>
                <td><a href="shopping_baskert">Shopping bakset</a></td>
            </tr>
        </table> 
        {% if message %}
        <p style="color:red">{{message }}</p>
        {% endif %}
        <form action="/signin" method="POST">
            <legend>Please Sign In</legend>
            <p><input name="username" placeholder="Username" value="{{username}}"></p>
            <p><input name="password" placeholder="Password" type="password"></p>
            <p><button type="submit">Sign In</button></p>
        </form>
    </body>
</html>